interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://fairsharing.org/399
  response:
    body:
      string: '{"fairsharing_data_licence":"https://creativecommons.org/licenses/by-sa/4.0/.
        Please link to https://fairsharing.org and https://api.fairsharing.org/img/fairsharing-attribution.svg
        for attribution.","id":399,"name":"AGROVOC","registry":"Standard","type":"terminology_artefact","abbreviation":"AGROVOC","metadata":{"doi":"10.25504/FAIRsharing.anpj91","name":"AGROVOC","status":"ready","contacts":[{"contact_name":"General
        contact","contact_email":"agrovoc@fao.org"}],"homepage":"https://www.fao.org/agrovoc/","citations":[{"doi":"https://doi.org/10.3390/engproc2021009017","pubmed_id":null,"publication_id":3152},{"doi":"https://doi.org/10.4060/cb2838en","pubmed_id":null,"publication_id":3154},{"doi":"10.1016/j.compag.2020.105965","pubmed_id":null,"publication_id":3312}],"identifier":399,"description":"AGROVOC
        is a controlled vocabulary covering all areas of interest of the Food and
        Agriculture Organization (FAO) of the United Nations, including food, nutrition,
        agriculture, fisheries, forestry, environment etc. It is published by FAO
        and edited by a community of experts. AGROVOC consists of over 41,400 concepts
        available in up to 42 languages. AGROVOC uses semantic web technologies, linking
        to other multilingual knowledge organization systems and building bridges
        between datasets. Your library can use AGROVOC to index its documents or datasets,
        or you can use it from inside your content management system (e.g., Drupal)
        to organize your documents or web site. You can also use AGROVOC as an hub
        to access many other vocabularies available on the web.  To date, AGROVOC
        is used by researchers, librarians and information managers for indexing,
        retrieving and organizing data in agricultural information systems and Web
        pages. Currently, AGROVOC is an SKOS-XL concept scheme and a Linked Open Data
        (LOD*) set aligned with over 20 other multilingual knowledge organization
        systems related to agriculture. You may browse AGROVOC, access its Web Services
        or SPARQL endpoint.","abbreviation":"AGROVOC","support_links":[{"url":"https://dgroups.org/fao/agrovoc/join","name":"AGROVOC
        News mailing list","type":"Mailing list"},{"url":"https://en.wikipedia.org/wiki/AGROVOC","name":"Wikipedia","type":"Wikipedia"},{"url":"http://www.fao.org/agrovoc/about","name":"About","type":"Help
        documentation"},{"url":"https://twitter.com/FAOAIMS","name":"@FAOAIMS","type":"Twitter"},{"url":"https://www.fao.org/3/cb8640en/cb8640en.pdf","name":"AGROVOC
        Editorial Guidelines, Second edition","type":"Help documentation"},{"url":"https://www.fao.org/3/cb2838en/CB2838EN.pdf","name":"AGROVOC
        Semantic data  interoperability on  food and agriculture","type":"Help documentation"},{"url":"https://www.fao.org/agrovoc/news","type":"Blog/News"}],"year_creation":1980,"cross_references":[{"url":"http://agroportal.lirmm.fr/ontologies/AGROVOC","name":"AgroPortal:AGROVOC","portal":"AgroPortal"}],"data_processes_and_conditions":[{"url":"https://www.fao.org/agrovoc/how-add-concept","name":"Suggest
        Modifications \u0026 New Terms","type":"write","access_method":"User interface"},{"url":"https://agrovoc.fao.org/browse/agrovoc/en/","name":"Browse
        and search","type":"read","access_method":"User interface"},{"url":"https://www.fao.org/agrovoc/releases","name":"Download","type":"read","access_method":"User
        interface"},{"url":"https://agrovoc.fao.org/sparql","name":"Sparql endpoint","type":"read","access_method":"Other
        machine-accessible method"},{"url":"https://www.fao.org/agrovoc/machine-use","name":"REST
        API","type":"read","access_method":"REST"},{"url":"https://agrovoc.fao.org/search","name":"Single-language
        interface in English, French, Spanish, Russian, Chinese or Arabic","type":"read","example_url":null,"access_method":"User
        interface","documentation_url":null}]},"tags":{"subjects":[{"iri":"http://aims.fao.org/aos/agrovoc/c_10967","label":"Food
        Security"},{"iri":"http://aims.fao.org/aos/agrovoc/c_16129","label":"Forest
        Management"},{"iri":"http://aims.fao.org/aos/agrovoc/c_203","label":"Agriculture"},{"iri":"http://aims.fao.org/aos/agrovoc/c_211","label":"Agronomy"},{"iri":"http://aims.fao.org/aos/agrovoc/c_2934","label":"Fisheries
        Science"},{"iri":"http://aims.fao.org/aos/agrovoc/c_331559","label":"Environmental
        Science"},{"iri":"http://aims.fao.org/aos/agrovoc/c_550","label":"Aquaculture"},{"iri":"http://aims.fao.org/aos/agrovoc/c_8320","label":"Water
        Management"},{"iri":"http://aims.fao.org/aos/agrovoc/c_9000089","label":"Knowledge
        and Information Systems"},{"iri":"http://edamontology.org/topic_0780","label":"Botany"},{"iri":"http://edamontology.org/topic_3071","label":"Data
        Management"},{"iri":"http://edamontology.org/topic_3390","label":"Nutritional
        Science"}],"domains":[{"iri":"http://aims.fao.org/aos/agrovoc/c_8678","label":"Agricultural
        products"},{"iri":"http://purl.obolibrary.org/obo/CHEBI_33290","label":"food"},{"iri":"http://purl.obolibrary.org/obo/ENVO_01001082","label":"climate"}],"user_defined_tags":[],"taxonomies":[{"iri":null,"label":"All"}],"countries":[{"id":251,"name":"Worldwide"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"aabe615a287d8364f30a21598450ec0e"
      link:
      - <https://fairsharing.org/399>; rel="cite-as"
      maintenance:
      - 'false'
      read-only:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://fairsharing.org/FAIRsharing.does-not-exist
  response:
    body:
      string: "<!DOCTYPE html>\n    <html lang=\"en\">\n      <head>\n        <link
        rel=\"stylesheet\" type=\"text/css\" href=\"/assets/static/vuetify-c1fdc9df.Dn6leCsa.css\">\n
        \       <link rel=\"stylesheet\" type=\"text/css\" href=\"/assets/static/vuetify-e109a83a.D28M6Fnj.css\">\n
        \       <link rel=\"stylesheet\" type=\"text/css\" href=\"/assets/static/vuetify-7760b9d8.jjiGVyyI.css\">\n
        \       <link rel=\"stylesheet\" type=\"text/css\" href=\"/assets/static/vuetify-965b62ec.ovdNYZx_.css\">\n
        \       <link rel=\"styles[...]
